{% extends "base.html" %}

{% block pre_content %}
    <nav class="navbar navbar-dark bg-dark">
        <a href="{% url 'user_show' user_id=user.id %}" class="navbar-brand">← Back</a>
        <span class="navbar-text">Edit user</span>
    </nav>
{% endblock %}

{% block content %}
    <br/>

    <div class="row">
        <div class="col-xl-6 col-12">
            <form action="{% url 'user_edit' user_id=user.id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Edit">
            </form>
        </div>

    </div>
{% endblock %}
