{% extends "base.html" %}

{% load division_filter %}

{% block content %}
    <br/>

    <div class="row">
        {% for location in locations %}
            <div class="col-md-2 col-6">
                <div class="card">
                    <a href="{% url 'users' %}?location={{ location.id }}">
                        <div class="card-body">
                            <h6 class="card-title" >{{ location.name }}</h6>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}