{% extends "base.html" %}

{% block pre_content %}
    <nav class="navbar navbar-dark bg-dark">
        <a href="{% url 'index' %}" class="navbar-brand">← Home</a>

        <form action="{% url 'stock' %}" method="get" class="form-inline">
            {{ form }}
            <input class="btn btn-primary mb-2" type="submit" value="Submit">
        </form>

        <span class="navbar-text">Stock</span>
    </nav>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <table id="stock_table" data-escape="true" data-toggle="table" data-url="{% url 'stock_json' location_id=location_id %}"
                   data-sort-name="amount" data-pagination="true" data-search="true" data-sort-order="desc">
                <thead>
                <tr>
                    <th data-sortable="true" data-field="item">Item</th>
                    <th data-sortable="true" data-field="location">Location</th>
                    <th data-sortable="true" data-field="amount">Amount</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
