{% extends "base.html" %}

{% load division_filter %}
{% load price %}

{% block pre_content %}
    <nav class="navbar navbar-dark bg-dark">
        <a href="{% url 'users' %}" class="navbar-brand">← Back</a>

        <div class="nav-item {% if user.balance >= 0 %}text-success{% else %}text-danger{% endif %}">
            <b>{{ user.get_balance }} EUR</b>
        </div>

        <a href="{% url 'user_edit' user_id=user.id %}"><i class="fa fa-pencil"></i> <span class="navbar-text text-white">{{ user.username }}</span></a>
    </nav>
{% endblock %}

{% block content %}
    <br/>

    <div class="row">
        <div class="col-12">
            <h5><b>Items</b></h5>
        </div>
    </div>
    {% if user.balance >= -1000 %}
        <div class="row">
            {% for stockitem in stockitems %}
                {% calc_price stockitem.item user as price %}
                <div class="col-md-3 col-6 align-items-stretch" {% if stockitem.stock.amount <= 0 %}style="opacity: 0.5" {% endif %}>
                    <div class="card">
                        <a class="text-center" href="{% url 'item_buy' user_id=user.id item_id=stockitem.item.id %}">
                            <img src="{{ stockitem.item.image_url }}" class="card-img-top img-fluid" alt="{{ stockitem.item.name }}"
                                  style="height: 15em; width: auto;">
                        </a>
                        <div class="card-body {% if stockitem.stock.amount <= 0 %}text-muted{% endif %}">
                            <h6 class="card-title">{{ stockitem.item.name }}</h6>
                            <p class="card-text">{{ price|to_decimal }} EUR <span class="float-right">{{ stockitem.stock.amount }}x</span></p>
                        </div>
                    </div>
                    <br/>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center">
            <div class="alert alert-danger" role="alert">
              <h4 class="alert-heading">You cannot buy any items if your balance is less than -10,00€. Please deposit or use the guest account.</h4>
            </div>
        </div>
    {% endif %}

    <hr/>

    <div class="row">
        <div class="col-12">
            <h5><b>Deposit</b></h5>
        </div>
    </div>

    <div class="row">
        {% for deposit in deposits %}
            <div class="col-md-2 col-6">
                <div class="card text-center">
                    <a href="{% url 'deposit' user_id=user.id amount=deposit %}">
                        <img src="https://agdsn.me/~getraenkekasse/img/eur{{ deposit }}.png"
                             class="card-img-top img-fluid"
                             alt="{{ deposit }}" style="height: 10em; width: auto;">
                    </a>
                    <div class="card-body">
                        <h6 class="card-title">{{ deposit }} EUR</h6>
                    </div>
                </div>
                <br/>
            </div>
        {% endfor %}
    </div>

    <hr/>

    {% if not user.hide_log %}
    <div class="row">
        <div class="col-12">
            <h5><b>Transactions</b></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table id="transactions_table" data-escape="true" data-toggle="table" data-url="{% url 'transactions_json' user_id=user.id %}"
                   data-sort-name="date" data-pagination="true" data-search="true" data-sort-order="desc">
                <thead>
                <tr>
                    <th data-sortable="true" data-field="date">Date</th>
                    <th data-sortable="true" data-field="message">Event</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <hr/>
    {% endif %}

    {% if user.balance > 0 %}
    <a class="btn btn-primary" href="{% url 'transfer' user_id=user.id %}">Transfer money</a>
    {% endif %}

    <br/>
    <br/>

    {% if after_transaction %}
        <meta http-equiv="refresh" content="10; URL={% url 'users' %}">
    {% endif %}

    <script>
        setTimeout(function () {
            window.scrollTo(0, 0);
        }, 50);
    </script>
{% endblock %}
