{% extends "base.html" %}
{% load static %}

{% block content %}
    <br/>

    <div class="row">
        {% for user in users %}
            <div class="col-md-2 col-6">
                <div class="card">
                    <a href="{% url 'user' user_id=user.id %}">
                        {% if user.image_url %}
                            <img src="{{ user.image_url }}" class="card-img-top" alt="{{ user.username }}">
                        {% else %}
                            <img src="https://agdsn.me/~getraenkekasse/img/no_user_image.png" class="card-img-top" alt="{{ user.username }}">
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <h6 class="card-title">{{ user.username }}</h6>
                        <p class="card-text">{{ user.balance }} EUR</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="col-md-2 col-6">
            <div class="card">
                <a href="{% url 'newuser' %}">
                    <img src="https://agdsn.me/~getraenkekasse/img/new_user.png" class="card-img-top" alt="new user">
                </a>
                <div class="card-body">
                    <h6 class="card-title">new user</h6>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
