{% extends "base.html" %}
{% load static %}

{% load division_filter %}

{% block content %}
    <div class="row mt-1">
        <div class="col-12">
            <h4>
                <span class="badge badge-info">
                    Recent users
                </span>
            </h4>
        </div>

        {% for user in users_recent %}
            {% include 'snippets/user.html' with user=user %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">
            <h4>
                <span class="badge badge-secondary">
                    Inactive users
                </span>
            </h4>
        </div>

        {% for user in users_other %}
            {% include 'snippets/user.html' with user=user %}
        {% endfor %}
    </div>
    <div class="row mb-2">
        <div class="col-md-2 col-6">
            <div class="card">
                <a href="{% url 'user_new' %}">
                    <img src="https://agdsn.me/~getraenkekasse/img/new_user.png" class="card-img-top" alt="new user">
                </a>
                <div class="card-body">
                    <h6 class="card-title">New user</h6>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
